@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#background {
  position: fixed;
  top: 0;
  left: 0px;
  width: 1500px;
  height: 750px;
  overflow: auto;
  z-index: -1;
}

#name {
  text-align: left;
  position: fixed;
  font-size: 2rem;
  top: 10px;
  left: 14px;
  color: rgb(69, 14, 110);
}

#purpose {
  text-align: left;
  position: fixed;
  top: 60px;
  left: 10px;
  color: rgb(79, 37, 112);
  font-size:xx-large;
}

#notes {
  text-align: left;
  position: fixed;
  top: 130px;
  left: 10px;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  color: rgb(79, 37, 112);
}

#notion {
  text-align: left;
  position: fixed;
  top: 160px;
  left: 10px;
  font-style: italic;
  font-weight: bolder;
  color:rgb(97, 48, 106);
}

#loc {
  position: fixed;
  bottom: 0px;
  right: 15px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #844141;
}